.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 25px;
  background: #0b1220;
  color: white;

  border-bottom: 1px solid #1f2937;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links span {
  cursor: pointer;
  color: #9ca3af;
  transition: 0.3s;
}

.nav-links span:hover {
  color: #3b82f6;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #22c55e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

button {
  background: #ef4444;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}